---
import { Image } from "astro:assets";

import CarIcon from "@/assets/icons/car.svg";
import LocationIcon from "@/assets/icons/location.svg";
import SocialIcons from "./SocialIcons.astro";

const { fullName, title, profilePicture } = Astro.props;
---

<div class="flex flex-col gap-4 flex-1 items-center lg:items-start">
	<div class="font-bold flex flex-col gap-1.5 items-center lg:items-start">
		<p class="inline-block text-3xl">
			Bonjour <span class="animate-bounce inline-block">👋</span>
		</p>
		<h1 class="text-secondary text-4xl">{fullName}</h1>

		<p class="font-medium text-xl">{title}</p>
	</div>

	<p class="text-lg text-center lg:text-left">
		Soudeur qualifié CQPM et d’une licence TIG, Rigoureux et motivé, je suis
		à la recherche d'une première expérience pour développer mes compétences
		techniques et m'investir durablement dans ce secteur d'activité.
	</p>

	<ul
		class="flex gap-4 justify-center flex-wrap [&>li]:badge [&>li]:badge-ghost"
	>
		<li>Procédés TIG/MMA/MAG</li>
		<li>
			<LocationIcon width={17} height={17} />Soissons, 02200 (rayon de
			40km)
		</li>
		<li>
			<CarIcon width={17} height={17} />Permis B
		</li>
	</ul>

	<div class="flex gap-4">
		<SocialIcons />
	</div>
</div>

<div class="size-72
			lg:block
			hidden">
	<Image
		src={profilePicture}
		alt={fullName}
		class="w-full h-full mask mask-circle size-44 object-cover"
		loading="eager"
	/>
</div>
